In [ ]:
d={'emp1':{'name':'SAI VARSHITH'},'emp2':{'salary':20000}}
print(d['emp1']['name'])
print(d['emp2']['salary'])

In [ ]:
d1=eval(input("Enter a dictionary"))
print(d1)

In [ ]:
d=dict([(2,500),('Colour','Red'),('Complex number','10+20j')])
print(d)

In [ ]:
d=dict(zip([10,20,1],[100,'triangle','python']))
print(d)

In [ ]:
d1=d
print(d1)
print(id(d1))

In [ ]:
d2=d.copy()
print(d2)
print(id(d2)) #Creates different id for shallow copy

In [ ]:
d={'emp1':{'name':'sai','rollno':1197328,'Unit':'IBPM'},'emp2':{'name':'Leela','rollno':95000742,'Unit':'Google'}}
print(d)
print(id(d))
d['emp3']={'name':'Vineesha','rollno':8765423,'unit':'Infosys'}
print(d)
print(id(d))

In [ ]:
d.get('emp1')
d.get('emp3')

In [ ]:
d.setdefault('emp5','this value is not present')
print(d)

In [ ]:
d1={10:100,'Bestie':'Vineesha','Passion':'data science'}
d.update(d1)
print(d)

In [ ]:
print(d.pop('emp1'))

In [ ]:
print(d.popitem())

In [ ]:
print(d.keys())

In [ ]:
for i in d.keys():
    print(i,d[i])

In [ ]:
for i in d.values():
    print(i)

In [ ]:
for i in d.items():
    print(i)

In [ ]:
d1=d2.fromkeys([1,2,3,4])
print(d1)
d1=d2.fromkeys([1,2,3,4],20) #from keys take only two arguements 
print(d2)

In [ ]:
#Dictionary Comprehension
{i:i**2 for i in range(2,10,2)}

In [ ]:
#Assignment
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}
emp_info={'Tom':{'email':'tom_latham019@gmail.com','Phone': +1987654321, 'City': 'California'}}
print(emp_info)

In [ ]:
emp_info={'kathy':{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}}
print(emp_info.values())

In [ ]:
d = {"class":{"student":{"name":"Mike","marks":{"physics":70,"history":80}}}}
print(d['class']['student']['marks']['history'])

In [ ]:
# x='google.com'
# k=0
# t=0
# a=0
# b=0
# f=0
# d=0
# j=0
# for i in x:
#     if(i=='g'):
#         k+=1
#     elif(i=='o'):
#         t+=1
#     elif(i=='l'):
#         a+=1
#     elif(i=='e'):
#         b+=1
#     elif(i=='.'):
#         f+=1
#     elif(i=='c'):
#         d+=1
#     else:
#         j+=1

In [ ]:
def count_letter(X):
    d=dict()
    for i in X:
        if i not in d:
            d[i]=1
        else:
            d[i]+=1
    return d
count_letter('google.com')

In [ ]:
def count_letter(X):
    d=dict()
    for i in X:
        if i not in d:
            d[i]=1
        else:
            d[i]+=1
    return d
count_letter("CTATCGGCACCCTTTCAGCA")
#count_letter('AGT')

In [ ]:
d={}
# d['Name']='Tom'
#d={'Name':'Tom'}
#d.update({"Name": "Tom" })
d.setdefault("Name")
print(d)

In [ ]:
d = {"a":1, "b":2}
d.values()

In [ ]:
# d = { ["First", "Last"]: (1,3) }
# print(d)

In [ ]:
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []
def reverseLookup(dict,var):
    lst=[]
    for i in dict.keys():
        if(dict[i]==var):
            lst.extend(i)
    print(lst)
#reverseLookup({'a':1, 'b':2, 'c':2}, 1)
#reverseLookup({'a':1, 'b':2, 'c':2}, 2)
#Why append function is not working?

In [ ]:
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}
#Swapping keys and values in a dictionary with out using keys and values.
# dict=({'a':1, 'b':2, 'c':3, 'd':2})
# d2={}
# for i ,j in dict.items():
#     d2[j]=i
# print(d2)

In [ ]:
#Swapping keys and values in a dictionary without using items
# dict=({'a':1, 'b':2, 'c':3, 'd':2})
# d2={}
# for i in dict:
#     j=dict[i]
#     d2[j]=i
# print(d2)

In [ ]:
#Given a Python dictionary, Change Bradâ€™s salary to 8500
sampleDict = {'emp1': {'name': 'Jhon', 'salary': 7500},'emp2': {'name': 'Emma', 'salary': 8000},'emp3': {'name': 'Brad', 'salary': 6500} }
sampleDict['emp3']['salary']=8500
print(sampleDict)

In [ ]:
# Get the key corresponding to the minimum value from the following dictionary
dictionary = {'Physics': 82,'Math': 65,'history': 75}
print(min(dictionary, key=dictionary.get))

In [ ]:
d = {'a': 100, 'b': 200, 'c': 300}
for i in d:
    if d[i]==200:
        print(True)
    else:
        print(False)

In [ ]:
# Delete set of keys from Python Dictionary
sampleDict = {"name": "Kelly","age":25,"salary": 8000, "city": "New york"}
sampleDict.pop("name")
sampleDict.pop("salary")
print(sampleDict)

In [ ]:
#Dictionary Comprehension
# dict1={}
# for n in range(10):
#     dict1[n]=n**2
# print(dict1)
dict2={n:n*2 for n in range(10) if(n%2==0)}
print(dict2)

In [ ]:
dict1={n:n**2 for n in range(1,6)}
print(dict1)

In [ ]:
#Dictionary-W3 Schools
#Write a Python script to sort (ascending and descending) a dictionary by value.
#d={2:'Vinni',3:'Varshith',1:'Sreekar',4:'Leela'}

In [ ]:
# Write a Python script to concatenate following dictionaries to create a new one.
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4={}
dic4=dic1.copy()
dic4.update(dic2)
dic4.update(dic3)
# for i in dic1:
#     dic4.update(i)
#     for i in dic2:
#         dic4.update(i)
#         for i in dic3:
#             dic4.update(i)
 for i in (dic1,dic2,dic3):
    dic4.update(i)
print(dic4)

In [ ]:
# Write a Python script to check whether a given key already exists in a dictionary.
d={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for i in d:
    if i  in d:
        print(True)
    else:
        print(False)

In [ ]:
#Write a Python program to iterate over dictionaries using for loops
d={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for i in d:
    print(i,d[i])

In [ ]:
#Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys.
dict={n:n**2 for n in range(1,16)}
print(dict)

In [ ]:
#Write a Python script to merge two Python dictionaries
d1={1:10,2:30,3:40,4:50}
d2={2:4,5:8}
d3={}
for i in (d1,d2):
    d3.update(i)
print(d3)

In [ ]:
#Write a Python program to sum all the items in a dictionary.
d1={1:10,2:30,3:40,4:50}
k=0
for i in d1:
    k+=d1[i]
print(k)
#Note:- Why items implies values

In [ ]:
#Write a Python program to product all the items in a dictionary.
d1={1:10,2:30,3:40,4:50,6:70}
k=1
for i in d1:
    k*=d1[i]
print(k)

In [ ]:
# Write a Python program to remove a key from a dictionary.
d1={1:10,2:30,3:40,4:50,6:70}
d1.pop(6)
print(d1)

In [ ]:
#Write a Python program to map two lists into a dictionary.
d1=[1,2,3]
d2=['red','black','white']
d3=dict(zip(d1,d2))
print(d3)

In [ ]:
#Write a Python program to sort a given dictionary by key
d={2:'blue',5:'red',7:'yellow',8:'white',1:'black'}
l=sorted(d.keys())
s=[]
for ele in l:
    s.append(d[ele])
d=dict(zip(l,s))
print(d)

In [ ]:
# Write a Python program to get the maximum and minimum value in a dictionary.
my_dict = {'x':500, 'y':5874, 'z': 560}
print(max(my_dict.values()))
print(min(my_dict.values()))

In [ ]:
student_data = {'id1': 
   {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, 'math', science']},'id2':  {'name': ['David'], 'class': ['V'], 'subject_integration': ['english', 'math', science']},'id3': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english', 'math', 'science']},'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english', 'math', 'science'] },}

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
lst=[]
lst1=[]
for i in d1:
    print(i,d1[i])

In [ ]:
d1={'p':10,'Q':20,'R':30}
for i in d1:
    print(i,d1[i])

In [ ]:
# d1 = {'a': 100, 'b': 200, 'c':300}
# d2 = {'a': 300, 'b': 200, 'd':400}
# lst=[]
# lst1=[]
# for i in d1:
#     for j in d2:
#         if(i==j):
#             k=d1[i]+d2[j]
#             lst.append(k)
# for key in (d1,d2):
#     if key not in lst1:
#         lst1.append(key)
#     else:
#         lst1.append(key)
# print(lst1)

In [ ]:
# Write a Python program to print all unique values in a dictionary. 
# D ={"V":"S001", "V": "S002", "VI": "S001", "VI": "S005", "VII":"S005", "V":"S009","VIII":"S007"}
# for i in D:
#     print(i,D[i])
#Note:- How it is avoiding duplication while printing the keys?

In [ ]:
d={'1':['a','b'], '2':['c','d']}
k=d['1']
m=d['2']
print(k[0]+m[0],k[0]+m[1],k[1]+m[0],k[1]+m[1])

In [ ]:
# Write a Python program to find the highest 3 values of corresponding keys in a dictionary.
# d = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}
# k=[]
# for i in d.values():
#     k.append(i)
# print(k)

In [ ]:
#Write a Python program to combine values in python list of dictionaries. 
# d=[{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
# k=d[0]['item']
# m=d[1]['item']
# l=d[0]['amount']+d[2]['amount']
# n=d[1]['amount']
# lst1=[k,m]
# lst2=[l,n]
# d1=dict(zip(lst1,lst2))
# print(d1)

In [ ]:
str='w3resource'
d={}
for i in str:
    if i not in d:
        d[i]=1
    else:
        d[i]+=1
print(d)

In [ ]:
# Write a Python program to remove spaces from dictionary keys.
# Write a Python program to convert a list into a nested dictionary of keys.
# Write a Python program to remove spaces from dictionary keys

In [ ]:
#Write a Python program to get the top three items in a shop.
# d={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
# k=list.append(d.values())
# for i in d:
#     if k

In [ ]:
students = {'Aex':{'class':'V','rolld_id':2},'Puja':{'class':'V','roll_id':3}}
for a in students:
    print(a)
    for b in students[a]:
        print (b,':',students[a][b])

In [ ]:
# Write a Python program to sort Counter by value
# from collections import Counter
# x = Counter({'Math':81, 'Physics':83, 'Chemistry':87})
# print(x.most_common())

In [ ]:
#Write a Python program to create a dictionary from two lists without losing duplicate values.
d1=['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII']
d2=[1, 2, 2, 3]
d3=dict(zip(d1,d2))
print((d3))

In [9]:
# Write a Python program to match key values in two dictionaries.
# Sample dictionary: {'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
# Expected output: key1: 1 is present in both x and y
d1={'key1': 1, 'key2': 3, 'key3': 2}
d2={'key1': 1, 'key2': 2}
for i in d1.values():
    for j in d2.values():
        if i==j:
            print("Key1:1 is present in both x and y")
    break

Key1:1 is present in both x and y

In [30]:
#Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary. 
d={'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]}
k=d['x']
l=d['y']
m=d['z']
for i in range(len(k)):
    if i==4:
        print(k[i])
for j in range(len(l)):
    if j==4:
        print(l[j])
for n in range(len(m)):
    if n==4:
        print(m[n])

15
25
35

In [37]:
#Write a Python program to drop empty Items from a given Dictionary.
d={'c1': 'Red', 'c2': 'Green', 'c3': None}
d.pop('c3')
print(d)

{'c1': 'Red', 'c2': 'Green'}

In [40]:
d={'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}
l=170

AttributeError: 'dict_values' object has no attribute 'pop'

In [46]:
d1=['S001', 'S002', 'S003', 'S004']
d2=['Adina Park', 'Leyton Marsh', 'Duncan Boyle', 'Saim Richards']
d3=[85, 98, 89, 92]
d=dict(zip(d1,d2))
print(d)

{'S001': 'Adina Park', 'S002': 'Leyton Marsh', 'S003': 'Duncan Boyle', 'S004': 'Saim Richards'}

SAI VARSHITH
20000

In [3]:
pwd

'C:\\Users\\nune.saivarshith'